.App {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  background-color: rgba(128, 128, 128, 0.161);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.releases {
  background-color:  #61dafb;
  color: black;
  border: 4px black;
  height: 70px;
  width: 710px;
  font-size: 20px;
  color: navy;
  text-align: center;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-right: 7px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

li {
  margin: 20px 0;
  padding: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

